.messages {
    height: 400px;
    overflow-y: scroll;
}

.message{
    display: flex;

    .icon {
        min-width: 40px;
    }
    .author {
        color: var(--contrast);
        font-size: 12px;
        margin-right: 20px;
    }
    .content {
        padding-top: space(1);
        padding-bottom: space(1);
        padding-left: space(2);
        padding-right: space(2);
        background-color:  rgb(52, 94, 94, .2);
        border-radius: 20px;
        max-width: 500px;
    }
    .date {
        color: var(--contrast);
        font-size: 12px;
    }
}

.message-me {
    flex-direction: row-reverse;
}